<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MAILGUN_API_KEY" value="key-792187962fb85b0810c4bf4ec46ff23a" />
    <add key="MAILGUN_DOMAIN" value="sandbox2f0956f299e34f7999a79f635761ca4b.mailgun.org" />
    <add key="FROM" value="test@test.com" />
    <add key="TO" value="test@test.com" />
    <add key="CORS_ORIGINS" value="https://tulpep.com,https://signtul.com" />
    <add key="CORS_HEADERS" value="*" />
    <add key="CORS_METHODS" value="post" />
  </appSettings>
</configuration>